######################
# Jekyll
######################
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

######################
# Editors / OS
######################
.idea/
.claude/
.DS_Store
*.iml
*.iws
*.ipr
*.ids
*.orig
