<div id="about" class="background-alt">
    <h2 class="heading reveal2">About Me</h2>
    <div class="container reveal2">
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="display: block;">
                    <img src="assets/images/sage.jpg" id="sage" alt="Pascal Sager">
                </div>
                <br>
                <div class="row">
                    <div class="social" style="text-align: center; width: 100%;">
                        <ul>
                            <li>
                                <a href="https://github.com/sagerpascal" target="_blank"><i
                                        class="fa-brands fa-github fa-xl"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://ch.linkedin.com/in/pascal-sager-3b7403168" target="_blank"><i
                                        class="fa-brands fa-linkedin fa-xl" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://scholar.google.com/citations?user=yVLJtv0AAAAJ" target="_blank"><i
                                        class="fa-brands fa-google-scholar fa-xl" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <p>
                    Greetings and welcome to my personal homepage. I am <strong>Pascal Sager</strong>, a PhD candidate at the Centre for Artificial Intelligence (CAI) at the Zurich University of Applied Sciences (ZHAW) and a visiting PhD student at the Institute of Neuroinformatics (INI) at the University of Zurich (UZH) and ETH Zurich. Guided by Prof. Dr. Thilo Stadelmann (Director CAI) and Prof. Dr. Benjamin Grewe (Head of Neural Learning and Intelligent Systems Lab at ETH), my research focuses on enhancing deep learning systems by incorporating insights from neuroscience, with a special interest in improving and structuring latent representations.
                </p>
                <br>
                <p>
                    I believe that AI systems can be significantly advanced by constructing models of the world based on disentangled concepts and their relationships, where interactions with the environment play a crucial role. My work aims to reduce the gap between artificial and natural intelligence, leveraging the complexities of the human brain to inform and improve AI technologies.
                </p>
                <br>
                <p>
                    In addition to my research, I am a board member of the Sustainable Impact Program at ZHAW, where I advocate for responsible technology use. At CAI, I lead AI demonstrations and workshops, sharing the fascinating capabilities of AI with diverse audiences. My background as a hardware and software engineer in the industry provides a solid foundation for my academic and research pursuits.
                </p>
                <p>
                    I frequently present my work and AI demonstrators at events such as the Annual Congress of the Swiss Academy of Technical Sciences, the Green Bytes Event by DIZH, ZHAW's Night of Technology, and Zurich's Scientifica. My engagement with networks like the Rising Researcher Network of CLAIRE, the Data Innovation Alliance, and the Digital Future Lab reflects my dedication to the AI research community.
                </p>
                <br>
                <p>
                    The next chapter of my journey is filled with promise as I delve deeper into the intersection of neuroscience and AI, aiming to unlock the secrets of natural intelligence and apply these findings to create more advanced and intuitive AI systems. Thank you for visiting my page, and I look forward to sharing my work and insights with you.
                </p>
                <br>
                <p id="disclaimer"></p>
            </div>
        </div>
    </div>
</div>