<div id="about" class="background-alt">
    <h2 class="heading reveal2">About Me</h2>
    <div class="container reveal2">
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="display: block;">
                    <img src="assets/images/sage.jpg" id="sage" alt="Pascal Sager">
                </div>
                <br>
                <div class="row">
                    <div class="social" style="text-align: center; width: 100%;">
                        <ul>
                            <li>
                                <a href="https://github.com/sagerpascal" target="_blank"><i
                                        class="fa-brands fa-github fa-xl"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://ch.linkedin.com/in/pascal-sager-3b7403168" target="_blank"><i
                                        class="fa-brands fa-linkedin fa-xl" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.researchgate.net/profile/Pascal_Sager" target="_blank"><i
                                        class="fa-brands fa-researchgate fa-xl" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <p>
                    Greetings and welcome to my personal homepage. I am <strong>Pascal Sager</strong>, specializing in
                    the captivating domain of AI and deep learning. Currently pursuing a Ph.D. degree with a focus on
                    Natural Intelligence, my academic foundation spans electrical engineering, computer science, and
                    data science.
                    I work as a researcher, project leader, and Head of AI demonstrators at the Centre for Artificial
                    Intelligence of the Zurich University of Applied Sciences and am a visiting researcher at the
                    Institute of Neuroinformatics of the University of Zurich and ETH Zurich.
                    <br>
                    Beyond the technical realm, my commitment to responsible technology is evident through my role as a
                    Board member in the university's Sustainable Impact Program. Additionally, I contribute my expertise
                    as a Senior Data Scientist at AlpineAI, actively participating in the development of SwissGPT.
                </p>
                <br>
                <p>
                    In the realm of education, I instruct various courses at ZHAW, including AI labs, machine learning,
                    and data mining labs, while co-supervising projects, bachelor theses, and master theses.
                    Furthermore, I showcase AI capabilities at diverse events and deliver talks at notable gatherings
                    such as the Annual Congress of the Swiss Academy of Technical Sciences, the Green Bytes Event
                    organized by DIZH, ZHAW's Night of Technology, and Zurich's Scientifica. I am actively engaged in
                    networks like the Rising Researcher Network of CLAIRE, the Data Innovation Alliance, and the Digital
                    Future Lab, I continue to contribute to the field.
                </p>
                <br>
                <p>
                    The next chapter of my academic journey holds promise as my doctoral studies delve into the
                    intricacies of natural intelligence, combining my fascination with neuroscience and the potential
                    offered by artificial intelligence. This endeavor aims to unravel the mysteries of intelligence in
                    living organisms and apply these insights to advance AI systems.
                </p>
                <br>
                <p id="disclaimer"></p>
            </div>
        </div>
    </div>
</div>