<div id="about" class="background-alt">
    <h2 class="heading reveal2">About Me</h2>
    <div class="container reveal2">
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="display: block;">
                    <img src="assets/images/sage.jpg" id="sage" alt="Pascal Sager">
                </div>
                <br>
                <div class="row">
                    <div class="social" style="text-align: center; width: 100%;">
                        <ul>
                            <li>
                                <a href="https://github.com/sagerpascal" target="_blank"><i
                                        class="fa-brands fa-github fa-xl"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://ch.linkedin.com/in/pascal-sager-3b7403168" target="_blank"><i
                                        class="fa-brands fa-linkedin fa-xl" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.researchgate.net/profile/Pascal_Sager" target="_blank"><i
                                        class="fa-brands fa-researchgate fa-xl" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <p>
                    Greetings and welcome to my personal homepage. My name is <strong>Pascal Sager</strong>, and
                    I specialize in the fascinating field of AI and deep learning. I am currently pursuing a PhD degree
                    focusing on Natural Intelligence.
                    My academic background is a fusion of electrical engineering, computer science, and data science.
                    I work as a researcher, project leader, and Head of AI demonstrators at the Centre for Artificial
                    Intelligence of the Zurich University of Applied Sciences.
                    Beyond the technical sphere, my commitment to responsible technology is underscored by my
                    participation as a Board member in the university's Sustainable Impact Program. Additionally, I work
                    as a Senior Data Scientist at Alpine AI, contributing my expertise to the development of SwissGPT.
                </p>
                <br>
                <p>
                    The forthcoming chapter of my academic journey promises to be equally intriguing. My doctoral
                    studies will focus on the intricacies of natural intelligence, merging my keen interest in
                    neuroscience with the possibilities offered by artificial intelligence. The intention behind this
                    endeavor is to unravel the mysteries underlying the intelligence exhibited by living organisms and
                    transpose these insights into the realm of advanced AI systems.
                </p>
                <br>
                <p id="disclaimer"></p>
            </div>
        </div>
    </div>
</div>