<footer  class="reveal2">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 copyright">
                <p>
                    Copyright &copy; 2025 Pascal Sager
                </p>
            </div>
            <div class="col-sm-2 top">
                    <span id="to-top">
                        <div>
                        <i class="fa fa-circle-chevron-up fa-2xl" aria-hidden="true"></i>
                        </div>
                    </span>
            </div>
            <div class="col-sm-5 social">
                <ul>
                    <li>
                        <a href="https://github.com/sagerpascal" target="_blank"><i class="fa-brands fa-github fa-xl"
                                                                                    aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/sagerpascal" target="_blank"><i
                                class="fa-brands fa-linkedin fa-xl" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://scholar.google.com/citations?user=yVLJtv0AAAAJ" target="_blank"><i
                                class="fa-brands fa-google-scholar fa-xl" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
