<div id="mobile-menu-open" class="shadow-large">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<header>
    <div id="mobile-menu-close">
        <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul id="menu">
        <li class="logo-li menu-left">
            <a href="#particles"><img src="assets/favicons/logo-white.svg" id="sage_logo" alt="Logo"></a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <!--<li>
            <a href="#experience">Experience</a>
        </li>
        <li>
            <a href="#education">Education</a>
        </li>-->
        <li>
            <a href="#publications">Publications</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
        <li class="menu-right">
            <a href="/blog" class="no-scroll">Blog</a>
        </li>
    </ul>
</header>