<div id="skills">
    <h2 class="heading reveal2">Skills</h2>
    <ul>
        <li class="reveal2">Python</li>
        <li class="reveal2">Deep Learning</li>
        <li class="reveal2">Computer Vision</li>
        <li class="reveal2">Neuroscience</li>
        <li class="reveal2">NLP</li>
        <li class="reveal2">Docker</li>
        <li class="reveal2">Java</li>
        <li class="reveal2">HTML</li>
        <li class="reveal2">CSS</li>
        <li class="reveal2">React</li>
        <li class="reveal2">Vue</li>
    </ul>
</div>