// Define base and accent colors
$base-color: #096398;
$base-color-lighten-25: darken($base-color, 25%);
$base-color-darken-15: lighten($base-color, 15%);
$base-color-darken-25: lighten($base-color, 25%);
$base-color-hover: lighten($base-color, 10%);

// Define background colors
$background: #212121;
$background-darken-2: lighten($background, 2%);
$background-hover: #2f2f2f;
$background-transparent: rgba(1, 1, 1, .0);
$background-alt: #131313;
$background-alt-darken-5: lighten($background-alt, 5%);
$background-alt-darken-10: lighten($background-alt, 10%);
$background-inverse: #d7d7d7;

// Define border colors
$border: #7f8686;

// Define text colors
$heading: #c7c5c1;
$heading-light: #807d7b;
$text: #74808a;
$text-lighten-5: lighten($text, 5%);

//