---
---

@import "main";


/*
    -------------------------------
    --------- Blog Styles ---------
    -------------------------------
*/
#blog {
  padding: 100px 15px;
  border-bottom: 1px solid $border;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 20px;

    a:hover {
      text-decoration: none;
    }
  }
}

#blog-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;

  #blog-head {
    width: 100%;
    padding: 1px 0;
    background: $base-color;

    h2 {
      margin: 5px;

      a {
        color: #fff;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  #date {
    position: relative;
    margin: 20px;
    color: $text;
  }

  #entry {
    padding: 10px 20px;
    margin-bottom: 15px;
  }

  #read-more {
    margin-bottom: 5px;
  }
}

.blog-post {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 0 20px;

}


/*
    -------------------------------
    ---- Blog Category Styles ----
    -------------------------------
*/

#categories {
  padding: 5px 15px;
  text-align: center;

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }

  li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    color: $heading;
    background: darken($background-alt, 5%);
    list-style: none;
    cursor: default;
    font-size: 0.8em;
  }
}

/*
    -------------------------------
    --------- Post Styles ---------
    -------------------------------
*/

#post {
  padding: 100px 15px 30px;
  border-bottom: 1px solid $border;
  text-align: center;
}

#post-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;

  #post-head {
    width: 100%;
    background: $base-color;
    color: #fff;
    padding: 5px 20px 30px;

    h2 {
      color: #fff;

      a:hover {
        text-decoration: none;
      }
    }
  }

  #entry {
    position: relative;
    text-align: left;
    padding: 10px 20px;

    h1, h2, h3, h4, h5, h6 {
      color: $base-color;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      margin-top: 50px;
      text-align: center;
    }


  }

  #disquis {
    padding: 20px;
  }
}