---
---

@use "main";

#entry {

  h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
  }

  h1, h2, h3, h4 {
    font-weight: bolder;
  }

  h1{
    font-size: 1.6em;
  }

  h2{
    font-size: 1.4em;
  }

  h3{
    font-size: 1.2em;
  }

  p > img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  pre {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-alt);
  }

  code {
    background-color: var(--background-alt);

    .k {
      font-weight: bold;
    }

    .nf {
      color: var(--base-color);
      font-weight: bold;
    }

    .s {
      color: var(--base-color);
    }

    .mi {
      color: var(--base-color);
    }

    //.mi {
    //  color: var(--text;
    //}

    //.n {
    //  font-weight: bolder;
    //}

    .o {
      font-weight: bolder;
    }

    .c1{
      color: var(--text-lighten-5);
    }
  }

  blockquote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-left: solid thick var(--border);
    padding-left: 10px;
    background-color: var(--background-darken-2);
    font-style: italic;

    p {
      font-size: 110%;
    }

    em {
      font-size: 80%;
    }
  }

  ul {
    padding-left: 20px;

    ul {
      padding-left: 25px;

      ul {
        padding-left: 30px;
      }
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;

    td, th {
      border: 1px solid var(--border);
      padding: 4px;
    }

    tr:nth-child(even) {
      background-color: var(--background-alt);
    }

    th {
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      background-color: var(--base-color);
      color: var(--background);
    }

  }

}
