---
---

@import "main";


/*
    ---------------------
    ------ Mixins -------
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
  transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
    opacity: 1;
  }

  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
  }
}


/*
    --------------------------
    ------- Lead Styles ------
    --------------------------
*/

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1, h2 {
    margin: 0;
  }

  h1 {
    color: $background;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
  }

  h2 {
    color: $base-color-lighten-25;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px;
  }
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($base-color-hover, 0.8);
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 35px;
  color: $background;

  span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    // border-radius: 50%;
    // border: 3px solid lighten($base-color, 25%);
    text-align: center;
  }

  div {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;

    &:hover {
      color: $border;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/

#about {
  padding: 75px 15px;
  border-bottom: 1px solid $border;
  text-align: center;

  h2 {
    color: $heading;
    text-align: center;
  }

  p {
    color: $text;
    margin: 0;
    text-align: left;
  }

  #sage {
    width: 70%;
    border-radius: 50%;
  }
}

/*
    --------------------------------
    ------- Experience Styles ------
    --------------------------------
*/

#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid $border;

  h2 {
    color: $heading;
  }
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: $base-color;
    z-index: 0;
  }

  &:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: $base-color;
    background: linear-gradient(to bottom, $base-color, rgba($base-color, 0));
    top: 100%;
    left: 303px;
  }
}

.vtimeline-content {
  margin-left: 350px;
  background: $background;
  border: 1px solid $background-hover;
  padding: 15px;
  border-radius: 3px;
  text-align: left;

  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: $heading;
    display: inline-block;
    margin: 0;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: $heading-light;
    margin: 0 0 15px 0;
  }

  p {
    color: $text;
    font-size: 0.9em;
    margin: 0;
  }
}

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: $background;
  width: 50px;
  height: 50px;
  background: $base-color;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;

  i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
  }

  svg {
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: $heading;
}

/*
    -------------------------------
    ------- Education Styles ------
    -------------------------------
*/

#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid $border;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid $border;
  text-align: left;

  h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: $heading;
  }

  span {
    color: $text;
    float: right;
  }

  h4 {
    color: $text;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  p, ul {
    margin: 0;
    color: $text;
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }
}

/*
    -------------------------------
    ------- Publication Styles ------
    -------------------------------
*/

.modal-content {
  background-color: $background;

  .close {
    text-shadow: 0 1px 0 $background;
  }

}

#publications {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid $border;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }

}


.publication {
  cursor: pointer;
  position: relative;
  max-width: 700px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  text-align: left;
  padding: 25px;
  background: $background;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
  border: 0 solid $background;

  a {
    text-align: center;
  }
}

.publication-info {

  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: $heading;
    margin: 0 0 15px 0;
  }

  .citation {
    font-size: small;
    margin: 10px auto;
    color: $background-inverse;
  }

  span {
    color: $text;
    float: right;
  }

  h4 {
    color: $text;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  p, ul {
    margin: 0 0 15px 0;
    color: $text;
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }
}


/* Publications hover on big screen */

// see https://www.proglobalbusinesssolutions.com/css-hover-effects/
@media only screen and (min-width: 768px) {
  .publication {
    box-shadow: none;
    border: 0 solid $background;
    transition: all 1s;

    &:after, &:before {
      content: " ";
      width: 40px;
      height: 40px;
      position: absolute;
      border: 0 solid $background;
      transition: all 1s;
    }

    &:after {
      top: -1px;
      left: -1px;
      border-top: 3px solid $border;
      border-left: 3px solid $border;
    }

    &:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 3px solid $border;
      border-right: 3px solid $border;
    }

    &:hover {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      // background:rgba(0,0,0,.5);
      // color:white;
      &:before, &:after {

        width: 100%;
        height: 100%;
        // border-color:white;
      }
    }
  }
}


/* Publictions next to each other on big screen */
@media only screen and (min-width: 1260px) {

  .publication {
    display: inline-block;
    margin: 20px;
    max-width: 1100px;
  }

  #publications > .heading {
    display: block;
  }

  #publications > .container {
    display: initial;
  }

}

/*
    -------------------------------
    ------- Project Styles --------
    -------------------------------
*/

#projects {
  padding: 50px 15px;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }

  button {
    background: $background-alt;
    border: 0 solid $border;
    padding: 0;
    margin: 15px;
    box-shadow: 10px 5px 9px rgba(0, 0, 0, 0.25), 0 5px 9px rgba(0, 0, 0, 0.30);

    .proj_container {
      position: relative;
      text-align: center;
      color: $background;
      width: 300px;
      height: 300px;
    }

    img {
      object-fit: fill;
    }

    .proj_container:hover .project-image {
      filter: blur(6px);
      -webkit-filter: blur(6px);
      transition: all 0.5s;
      transition: 0.5s -webkit-filter linear;
    }

    .titleProject {
      display: none;
      filter: none;
      -webkit-filter: none;
      color: $base-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: fadeIn 1500ms;
      text-shadow: 0px 0px 15px $background;
    }

    .project-image:hover + .titleProject {
      display: block;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .titleProject:hover {
      display: block;
    }

  }
}

.proj-modals {
  .modal-dialog {
    max-width: 900px;
    top: 20%;
  }

  .modal {
    margin: 0;
  }

  .modal-content {
    flex-direction: row;
    background-color: transparent;
    border: none;
  }

}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: $background;
  border-radius: 4px;
  text-align: left;

  a {
    text-align: center;
  }
}

.project-image {
  float: left;
}

.project-image-detail {
  float: left;
}

.project-info {
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px;

  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: $heading;
    margin: 0 0 15px 0;
  }

  p {
    color: $text;
    margin: 0 0 15px 0;
    font-size: 0.9em;
  }
}

.no-image {
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
  }
}

#more-projects {
  display: none;
}

/* Projects next to each other on big screen */
@media only screen and (min-width: 1260px) {

  .project {
    display: inline-block;
    margin: 20px;
    width: 900px;
  }

  #projects > .heading {
    display: block;
  }

  #projects > .container {
    display: initial;
  }

}

/*
    -------------------------------
    -------- Skills Styles --------
    -------------------------------
*/

#skills {
  padding: 50px 15px;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }

  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: $heading;
    background: $background-alt-darken-10;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
  }
}

/*
    -------------------------------
    ------- Contact Styles --------
    -------------------------------
*/

#contact {
  padding: 50px 15px;
  background: $base-color;
  text-align: center;

  h2 {
    margin: 0 0 15px 0;
    color: $background;
    font-weight: 500;
  }
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;

  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: $base-color-darken-15;
    color: $background;
    @include transition();
    @include placeholder {
      color: $background;
    }

    &:focus {
      outline: none;
      background: $base-color-darken-25;
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    background: $background;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: $base-color;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    @include transition();

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

/*
    ---------------------------------------
    ------- Optional Section Styles -------
    ---------------------------------------
*/

.optional-section {
  padding: 50px 15px;
  text-align: center;
  border-top: 1px solid $border;

  h2 {
    color: $heading;
  }
}

.optional-section-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid $border;
  background: $background;
  text-align: left;

  h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: $heading;
  }

  h4 {
    color: $text;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  p, ul {
    margin: 0 0 15px 0;
    color: $text;
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }
}

/*
    -----------------------------
    ------- Media Queries -------
    -----------------------------
*/

// Collapse timeline
@media only screen and (max-width: 750px) {

  #experience-timeline {
    &:before, &:after {
      left: 23px;
    }

  }

  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }

  .vtimeline-icon {
    margin-left: 0;
  }

  .vtimeline-content {
    margin-left: 70px;
  }

}

// Medium Devices
@media only screen and (max-width: 1260px) {


  #lead-content {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.75em;
    }
  }

  #about {
    text-align: center;

    h2 {
      text-align: center;
    }

    p {
      text-align: left;
    }
  }

}

@media only screen and (max-width: 991px) {
  #about {
    #sage {
      width: 30%;
    }
  }

}

// Small Devices
@media only screen and (max-width: 768px) {

  #about {
    #sage {
      width: 30%;
    }
  }

  #lead-content {
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.3em;
    }

    a {
      padding: 10px 20px;
    }
  }

  #lead-down {
    display: none;
  }

  .education-block {
    h3, span {
      float: none;
    }
  }

  .project-image-detail {
    display: none;
  }

  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }

}

// Extra Small Devices
@media only screen and (max-width: 480px) {

  #lead-content {
    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1em;
    }

    a {
      font-size: 0.9em;
      padding: 5px 10px;
    }
  }

}


// Animation
.reveal {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: 1.2s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

.reveal2 {
  position: relative;
  transform: translateX(-10px);
  opacity: 0;
  transition: 1.7s all ease;
}

.reveal2.active {
  transform: translateX(0);
  opacity: 1;
}