<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% include base-head.html %}
    <link href="/assets/css/error-style.css" rel="stylesheet">
</head>

<body>

{% include minimal-navbar.html %}


<section>
    {{ content }}
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/error-beam.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
</body>
</html>
